# fastapi==0.115.0
# uvicorn==0.32.0
# pydantic==2.9.2
# pillow==10.4.0
# numpy==2.1.2
# ultralytics==8.3.25
# python-multipart==0.0.9
# torch==2.7.0+cpu
# torchvision==0.22.0+cpu
# torchaudio==2.7.0+cpu
# opencv-python

fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.2
pillow==10.4.0
numpy==2.1.2
ultralytics==8.3.25
python-multipart==0.0.9
torch==2.5.1+cpu
torchvision==0.20.1+cpu
torchaudio==2.5.1+cpu
opencv-python-headless==4.10.0.84

--extra-index-url https://download.pytorch.org/whl/cpu
